:root {
  --main-bg-color: #bd6418;
  --font1: font-family: "Poppins";
}

.center {
  text-align: center;
}

.font1 {
  font-family: var(--font1);
}

.max-width-1 {
  max-width: 80vw;
}

.max-width-2 {
  max-width: 60vw;
}

.m-auto {
  margin: auto;
}

.mx-1 {
  margin-left: 23px;
  margin-right: 23px;
}

.my-2 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.btn{
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 15px;
  background-color: #f08080;
  border: none;
  transition: all ease-in-out 0.5s;
}
.btn span{
  color: black;
  font-size: 15px;
  transition: all ease-in-out 0.5s;
  transition: all 0.5s;
}
.btn:hover{
  background-color: black;
  color: whitesmoke;
}
.btn:hover span{
  color: antiquewhite;
}

.form-input {
  padding: 0px 5px;
  padding-top: 3px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 0 13px;
}

.form-box input,
textarea {
  width: 52vw;
  padding: 0px 6px;
  margin: 7px 0;
  font-size: 18px;
  border: 2px solid var(--main-bg-color);
  border-radius: 5px;
}